<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Courses<small> Fall 2013</small></h3>
  </div>

  <ul class='list-group'>
    <a href='https://wolfware.ncsu.edu/', target='_blank' class='list-group-item'>My Courses - Wolfware</a>
    <a href='http://courses.ncsu.edu/ece301/lec/001/', target='_blank' class='list-group-item'>ECE 301</a>
    <a href='https://moodle1314-courses.wolfware.ncsu.edu/course/view.php?id=2872', target='_blank' class='list-group-item'>CSC 246</a>
    <a href='https://moodle1314-courses.wolfware.ncsu.edu/pluginfile.php/422185/mod_resource/content/0/readings.pdf',
      target='_blank' class='list-group-item'>CSC 246 Reading Schedule</a>
    <a href='https://moodle1314-courses.wolfware.ncsu.edu/course/view.php?id=2799', target='_blank', class='list-group-item'>ECE 302</a>
    <a href='https://moodle1314-courses.wolfware.ncsu.edu/pluginfile.php/361773/mod_resource/content/2/Lecture_HW_schedule.pdf',
      target='_blank' class='list-group-item'>ECE 302 Lecture Schedule</a>
    <a href='https://moodle1314-courses.wolfware.ncsu.edu/course/view.php?id=3235', target='_blank', class='list-group-item'>ECE 302 Lab</a>
    <a href='http://www.csc.ncsu.edu/faculty/efg/517/f13/', target='_blank', class='list-group-item'>CSC 517</a>
  </ul>
</div>
