<div class='container' id='main-content'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'links' %>

      <%= render 'periodic_table' %>
    </div>

    <div id='tasks_partial'>
      <%= render 'tasks/all', tasks: @dashboard.tasks %>
    </div>

    <div class='col-md-5'>
      <%= render 'laplace_transforms' %>
    </div>
  </div>
</div>
