<div class='hidden' id='new-task-form'>
  <div class='list-group-item todo-item'>
    <%= button_tag nil, class: 'btn btn-xs pull-right', id: 'remove-task' do %>
      <span class='glyphicon glyphicon-remove'></span>
    <% end %>
    <%= hidden_field :task, :id %>
    <h4 class="list-group-item-heading"><input type='text' placeholder='Title' class='form-control task-form-item'></h4>
    <p class='list-group-item-text'><input type='text' placeholder='Task' class='form-control task-form-item'></p>
  </div>
</div>

