development:
  adapter: postgresql
  host: localhost
  database: utility_dev
  user: rails
  password: rails

test:
  adapter: postgresql
  host: localhost
  database: utility_test
  user: rails
  password: rails

production:
  adapter: postgresql
  host: localhost
  database: utility
  user: rails
  password: rails
