<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Laplace Transforms</h3>
  </div>

  <div class='container'>
    <%= image_tag 'laplace_transforms.png' %>
  </div>
</div>
