<div id='main-content'>
  <div class='row'>
    <div class='col-md-4'>
      <%= render 'links/all', links: @dashboard.links %>
    </div>

    <div id='tasks_partial'>
      <%= render 'tasks/all', tasks: @dashboard.tasks %>
    </div>

    <div class='col-md-5'>
    </div>
  </div>
</div>
